[Desktop Entry]
Type=Application
Name=FunkGateway
Comment=Open Source Radio Gateway for Linux
Exec=/PFAD/ZU/FunkGateway-UI-0.6.0-Generic-Linux/start.sh
Path=/PFAD/ZU/FunkGateway-UI-0.6.0-Generic-Linux
Icon=/PFAD/ZU/FunkGateway-UI-0.6.0-Generic-Linux/funkgateway.png
Terminal=false
Categories=AudioVideo;HamRadio;
