[Desktop Entry]
Type=Application
Name=FunkGateway
Comment=Open Source Radio Gateway for Linux
Exec=/PFAD/ZU/FunkGateway-UI-0.5.9.44-Debian12/start.sh
Path=/PFAD/ZU/FunkGateway-UI-0.5.9.44-Debian12
Icon=/PFAD/ZU/FunkGateway-UI-0.5.9.44-Debian12/funkgateway.png
Terminal=false
Categories=AudioVideo;HamRadio;
